* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 750px;
}

.header {
    background: #A52A2A;
}

.header__box {
    margin-bottom: 20px;
}

.header__description {
    text-align: center;
    color: #fff;
}

.main__img {
    margin-bottom: 20px;
}

.main__text1 {
    margin-bottom: 20px;
}

.main__span1 {
    color: blue;
}

.main__box {
    text-align: center;
    margin-bottom: 15px;
}

.main__pictures {
    border: 3px dashed #000;
}

.main__text2 {
    margin-bottom: 30px;
}

.main__span2 {
    color: blue;
}

.footer {
    font-size: 20px;
    background: #000;
}

.footer__text {
    color: #fff;
    text-align: center;
}